<template>
    <v-list dense subheader three-line v-if="(events.length !==0)" :key="events.length + events[0].happenedDate">
        <div v-for="(event, index) of events" :key="index">
            <event-tile :index="index" v-show="filterType(event.serviceType)">
                <list-avatar slot="leftPhoto" :hasPhoto="leftUser(event).hasPhoto"
                             :image="leftUser(event).photo50"></list-avatar>
                <v-list-tile-sub-title slot="date">{{new Date(event.happenedDate) | formatDate}}
                </v-list-tile-sub-title>
                <template v-if="(event.serviceType === 'SOCIALS')">
                    <v-list-tile-sub-title slot="info"
                    >{{leftUser(event).firstName + ' '
                        +
                        leftUser(event).lastName + ' ' + defineType(event.serviceType,event.eventTypeCode) + ' ' +
                        rightUser(event).firstName + ' ' + rightUser(event).lastName}}
                    </v-list-tile-sub-title>
                    <list-avatar slot="rightPhoto" :hasPhoto="rightUser(event).hasPhoto"
                                 :image="rightUser(event).photo50"></list-avatar>
                </template>
                <template v-else-if="(event.serviceType === 'GROUPS')">
                    <v-list-tile-sub-title slot="info">{{leftUser(event).firstName +
                        ' ' +
                        leftUser(event).lastName + ' ' + defineType(event.serviceType,event.eventTypeCode) + ' ' +
                        rightGroup(event).name
                        }}
                    </v-list-tile-sub-title>
                    <list-avatar slot="rightPhoto" :hasPhoto="rightGroup(event).hasPhoto"
                                 :image="rightGroup(event).photo50"></list-avatar>
                </template>
            </event-tile>
        </div>
    </v-list>

</template>

<script>
    import EventTile from './EventTile'

    export default {
        name: "EventContent",
        props: {
            id: {
                type: [Number, String],
                required: true
            }
        },
        components: {eventTile: EventTile},
        data() {
            return {}
        },
        methods: {
            leftUser(event) {
                return this.$store.getters.friendById(event.ofVkId)
            },
            rightGroup(event) {
                return this.$store.getters.communityById(JSON.parse(event.jsonData).communityId)
            },
            rightUser(event) {
                return this.$store.getters.friendById(JSON.parse(event.jsonData).userVkId)
            },
            defineType(type, code) {
                if (type === 'SOCIALS')
                    return this.socialMessage(code);
                else if (type === 'GROUPS')
                    return this.groupMessage(code);
            },
            socialMessage(code) {
                switch (code) {
                    case 0:
                        return ' добавил в друзья подписчика ';
                    case 1:
                        return ' был удален из друзей пользователем ';
                    case 2:
                        return ' перевел из подписчиков в друзья ';
                    case 3:
                        return ' был добавлен в друзья пользователем ';
                    case 4:
                        return ' удалил из друзей ';
                    case 5:
                        return ' удалил из друзей ';
                    case 6:
                        return ' получил нового подписчика ';
                    case 7:
                        return ' потерял подписчика ';
                    case 8:
                        return ' подписался на ';
                    case 9:
                        return ' отписался от ';
                    case undefined:
                        return 'добавил в друзья';

                }
            },
            groupMessage(code) {
                switch (code) {
                    case 0:
                        return ' добавился в группу ';
                    case 1:
                        return ' удалил группу ';
                }
            },
            filterType(type){
                let socials = false
                let groups = false
                if(type === 'GROUPS'){
                    for(let j=0; j < this.$store.getters.filters.length; j++){
                        if(this.$store.getters.filters[j] === 'GROUPS'){
                            groups = true
                            break
                        }
                    }
                    return groups
                }
                if(type === 'SOCIALS'){
                    for(let i=0; i < this.$store.getters.filters.length; i++){
                        if(this.$store.getters.filters[i] === 'SOCIALS'){
                            socials = true
                            break
                        }
                    }
                    return socials
                }
                else{
                    return false
                }
            }

        },
        filters: {
            formatDate(date) {
                let formattedDate = ""
                if ((date.getHours() + "").length < 2) formattedDate += "0" + date.getHours()
                else formattedDate += date.getHours()
                formattedDate += ':'
                if ((date.getMinutes() + "").length < 2) formattedDate += "0" + date.getMinutes()
                else formattedDate += date.getMinutes()
                formattedDate += " - "
                if ((date.getDate() + "").length < 2) formattedDate += "0" + date.getDate()
                else formattedDate += date.getDate()
                formattedDate += '.'
                if ((date.getMonth() + "").length < 2) formattedDate += "0" + date.getMonth()
                else formattedDate += date.getMonth()
                formattedDate += '.'
                formattedDate += date.getFullYear()
                return formattedDate
            }
        },
        computed: {
            events() {
                return this.$store.getters.events
            },
            load() {
                return this.$store.getters.load
            }
        },


    }
</script>

<style scoped>

</style>