<template>
    <div>
        <v-divider
                v-if="index !==0"
        ></v-divider>
        <v-list-tile
                :key="index"
                avatar
        >
            <v-list-tile-avatar>
                <slot name="leftPhoto"></slot>
            </v-list-tile-avatar>
            <v-list-tile-content>
                <slot name="info"></slot>
                <slot name="date"></slot>
            </v-list-tile-content>
            <v-list-tile-avatar>
                <slot name="rightPhoto"></slot>
            </v-list-tile-avatar>
        </v-list-tile>
    </div>
</template>

<script>
    export default {
        name: "EventTile",
        props: {
            index: {
                type: Number,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>