<template>
    <v-layout row >
        <v-flex  xs5 md5>
            <div class="body-2 font-weight-medium" >{{name}}:
            </div>
        </v-flex>
        <v-flex xs7 md7>
            <div>
                {{info}}
            </div>
        </v-flex >
    </v-layout>
</template>

<script>
    export default {
        name: "Info",
        props: ['name','info']
    }
</script>

<style scoped>

</style>