<template>
    <div>
        <v-layout row wrap class="hidden-sm-and-down">
            <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
                <v-card color="indigo lighten-4" flat max-height>
                    <v-container fluid>
                        <v-layout column >
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4 md3>
                                        <slot name="avatar"></slot>
                                    </v-flex>
                                    <v-flex xs8 md9>
                                        <v-card-text class="py-0">
                                            <div class="display-1 font-weight-thin">
                                                <slot name="fullName"></slot>
                                            </div>
                                            <v-divider></v-divider>
                                            <div class="body-3 font-weight-thin font-italic mb-3">
                                                <slot name="status"></slot>
                                            </div>
                                            <slot name="columns"></slot>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex>
                                <v-layout row>
                                    <v-flex xs4 md3>
                                        <v-layout column>
                                            <v-flex>
                                                <slot name="btn-1"></slot>
                                            </v-flex>
                                            <v-flex class="ml-4">
                                                <slot name="switch"></slot>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                    <v-flex xs8 md9 pl-3>
                                        <slot name="events"></slot>
                                        <slot name="online"></slot>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
        <div>
        <v-layout row wrap class="hidden-md-and-up">
            <v-flex xs12 sm10 offset-sm1>
                <v-card color="indigo lighten-4" flat max-height>
                    <v-container fluid>
                        <v-layout column>
                            <v-flex xs12>
                                <v-layout row>
                                    <v-flex xs4 md3>
                                        <slot name="avatar"></slot>
                                    </v-flex>
                                    <v-flex xs8 md9>
                                        <v-card-text class="py-0">
                                            <div class="display-1 font-weight-thin">
                                                <slot name="fullName"></slot>
                                            </div>
                                            <v-divider></v-divider>
                                            <div class="body-3 font-weight-thin font-italic mb-3">
                                                <slot name="status"></slot>
                                            </div>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 class="mt-3">
                                <slot name="columns"></slot>
                            </v-flex>
                            <v-flex xs12 class="mt-2">
                                <v-layout row>
                                    <v-flex xs8 class="mt-2">
                                        <slot name="btn-1"></slot>
                                    </v-flex>
                                    <v-flex class="mt-2 ml-1">
                                        <slot name="switch"></slot>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 px-0 class="mt-3">
                                <slot name="events"></slot>
                            </v-flex>
                            <v-flex xs12 px-0>
                                <slot name="online"></slot>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Landing",

    }
</script>

<style scoped>

</style>