<template :key="id">
    <div>
        <v-container v-if="!loading">
            <landing>
                <card-avatar slot="avatar" :hasPhoto="user.hasPhoto" :image="imageSize(user)"></card-avatar>
                <span slot="fullName">{{user.firstName + ' ' + user.lastName}}</span>
                <span slot="status">{{user.status}}</span>
                <div slot="columns">
                    <column :name="info[0]" :info="user.bdate"></column>
                    <column :name="info[1]" :info="user.city"></column>
                </div>
                <v-btn slot="btn-1"
                       :color="active ? 'blue-grey' : 'red'"
                       class="white--text"
                       depressed
                       block
                       v-if="vkId !== id"
                       @click="subs()"
                >
                    {{active ? 'Отписаться' : 'Подписаться'}}
                    <v-icon right dark>notifications</v-icon>
                </v-btn>
                <v-switch slot="switch"
                          v-model="switchMode"
                          :color="'blue-grey'"
                          v-if="vkId !== id"
                          class="hidden-sm-and-down"
                          :label="(switchMode ? 'Онлайн' : 'События')">
                </v-switch>
                <v-btn slot="switch"
                       :color="active ? 'blue-grey' : 'red'"
                       class="white--text hidden-md-and-up"
                       depressed
                       block
                       v-if="vkId !== id"
                       @click="switchMode = !switchMode" >
                    {{switchMode ? "События" : "Онлайн"}}
                </v-btn>
                <event-content slot="events" :id="id" v-show="!switchMode"></event-content>
                <online-content slot="online" :id="id" v-show="switchMode"></online-content>
            </landing>
        </v-container>
        <loader v-else></loader>
    </div>
</template>

<script>
    import Column from './Column'
    import EventContent from '../events/EventContent'
    import Landing from './Landing'
    import OnlineStateList from "../online/OnlineStateList";

    export default {
        components: {
            column: Column,
            landing: Landing,
            eventContent: EventContent,
            onlineContent: OnlineStateList
        },
        props: {
            id: {
                type: [Number, String],
                required: true
            }
        },
        data() {
            return {
                info: ['Дата рождения', 'Город'],
                switchMode: false,
                vkId: this.$cookie.get('UserVkId')
            }
        },
        created() {

            this.$store.dispatch('loadStateUser', this.id).then(() => {}).catch(() => {
                this.$router.push('/')
            })
            this.$store.dispatch('loadActive', this.id).then(() =>{
                if(this.active){
                    this.$store.dispatch('loadEvents', this.id)
                    this.$store.dispatch('loadOnlineStates', this.id)
                }
            })
        },
        destroyed: function () {
            this.$store.commit('setEvents', [])
            this.$store.commit('setGroupEvents', [])
            this.$store.commit('setSocialEvents', [])
            this.$store.commit('nullEventsRTF')
            this.$store.commit('setOnlineStates', [])
            this.$store.commit('setOnlineStatesRTF', Number.MAX_SAFE_INTEGER)

        },

        methods: {
            imageSize(user) {
                switch (this.$vuetify.breakpoint.name) {
                    case 'xs':
                        return user.photo100;
                    case 'sm':
                        return user.photo100;
                    case 'md':
                        return user.photo200;
                    case 'lg':
                        return user.photo200;
                    case 'xl':
                        return user.photo200;
                }
            },
            subs() {
                if (!this.active) {
                    this.$store.dispatch('subscribeUser', this.id).then(() => {
                        this.$store.commit('setActive', true)
                    }).catch(() => {
                    })
                } else {
                    this.$store.dispatch('unSubscribeUser', this.id).then(() => {
                        this.$store.commit('setActive', false)
                    }).catch(() => {
                    })
                }
            },
            loadNewCommunities(communities) {
                if (communities.length !== 0) {
                    this.$store.dispatch('loadCommunities', communities)
                }
            },
            loadNewFriends(friends) {
                if (friends.length !== 0) {
                    this.$store.dispatch('loadFriends', friends)
                }
            },
            scroll() {
                window.onscroll = () => {
                    let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

                    if (bottomOfWindow) {
                        if (this.switchMode) {
                            this.lastDate = new Date(0)
                            this.$store.dispatch('loadOnlineStates', this.id)
                        } else {
                            this.$store.dispatch('loadEvents', this.id)
                        }

                    }
                }
            },
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            },
            user() {
                return this.$store.getters.stateUser
            },
            active() {
                return this.$store.getters.active
            },
        },
        watch: {
            $route(toR, fromR) {
                this.id = toR.params['id']
            }
        },
        mounted() {
            this.scroll()
        }


    }
</script>

<style scoped>

</style>

