<template>
    <v-container>
        <!-- Both Desktop & Mobile-->
        <v-layout row wrap>
            <v-flex xs12 md8 offset-md2>
                <h1>{{typeError | infoError}}</h1>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "ErrorPage",
        props: {
            typeError: {
                type: String,
                default: 'SUCCESS'
            }
        },
        filters: {
            infoError(error) {
                switch (error) {
                    case 'SUCCESS':
                        return 'Вы попали сюда случайно, ничего страшного)';
                    case 'INVALID_DATA':
                        return 'Пожалуйста, зайдите в аккаунт(кнопка справа сверху)';
                    case 'WRONG_CREDENTIALS':
                        return 'Вы молодцы, что зашли в ваши кукисы, но вам все же придется зайти в аккаунт';
                    case 'NO_VK_TOKEN':
                        return 'Вы молодцы, что зашли в ваши кукисы, но вам все же придется зайти в аккаунт';
                    case 'INVALID_VK_TOKEN':
                        return 'Вы молодцы, что зашли в ваши кукисы, но вам все же придется зайти в аккаунт';
                }
            }
        },
        created() {
            if (this.typeError !== 'SUCCESS') {
                this.$store.commit('authLogout')
            }
        }
    }
</script>

<style scoped>

</style>