<template>
    <div>
        <v-img v-if="hasPhoto"
             :src="image"></v-img>
        <v-img v-else
             :src="noAvatar"></v-img>
    </div>
</template>

<script>
    import noImg from '../../static/noAvatar.jpg'
    export default {
        name: "CardImage",
        props:{
            hasPhoto: {
                type: Boolean,
                default: true
            },
            image:{
                type: String,
                required: true
            }
        },
        data() {
            return {
                noAvatar: noImg
            }
        },
        created(){}
    }
</script>

<style scoped>

</style>