<template>
        <img :src="pasteImage">
</template>

<script>
    import noImg from '../../static/noAvatar.jpg'
    export default {
        name: "ListImage",
        props:{
            hasPhoto: {
                type: Boolean,
                default: true
            },
            image:{
                type: String,
                required: true
            }
        },
        data() {
            return {
                pasteImage: noImg
            }
        },
        created (){
            if(this.hasPhoto){
                this.pasteImage = this.image
            }
        }
    }
</script>

<style scoped>

</style>