<template>
    <v-container v-if="!loading">
        <!-- Both Desktop & Mobile-->
        <v-layout row wrap>
            <v-flex xs12 md8 offset-md2>
                <v-card color="indigo lighten-4" flat max-heigh
                        :class="{'pa-5' : $vuetify.breakpoint.mdAndUp, 'pa-2' : $vuetify.breakpoint.smAndDown}">
                    <v-card-text class="py-0">
                        <div class="display-1 font-weight-thin text-xs-center">
                            Отслеживаемые пользователи
                        </div>
                        <v-divider></v-divider>
                    </v-card-text>
                    <v-layout column>
                        <v-flex class="mt-3">
                            <v-list v-if="users.length !== 0">
                                <template v-for="(user, index) in users">
                                    <v-list-tile avatar :key="index" :to="'/' + userById(user).vkId">
                                        <v-list-tile-avatar>
                                            <list-avatar :hasPhoto="userById(user).hasPhoto"
                                                         :image="userById(user).photo50"></list-avatar>
                                        </v-list-tile-avatar>
                                        <v-list-tile-content>
                                            <v-list-tile-title>
                                                {{userById(user).firstName + ' ' + userById(user).lastName}}
                                            </v-list-tile-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                    <v-divider :key="users.length + index"></v-divider>
                                </template>
                            </v-list>
                            <div class="display-0 text-xs-center" v-else >
                                Здесь вы можете смотреть ваши подписки
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card>

            </v-flex>
        </v-layout>
    </v-container>
    <loader v-else-if="loading"></loader>

</template>

<script>
    export default {
        name: "Traced",
        data() {
            return {}
        },
        created() {
            this.$store.dispatch('loadTraced')
        },
        computed: {
            users() {
                return this.$store.getters.traced
            },
            loading() {
                return this.$store.getters.loading
            },
        },
        methods: {
            userById (id){
                return this.$store.getters.friendById(id)
            }
        }

    }
</script>

<style scoped>

</style>