<template>
    <v-layout row>
        <v-flex xs12>
            <template v-if="comparison.length">
                <v-list>
                    <template v-for="(compare, index) in comparison">
                        <v-divider :key="compare.vkId" v-if="index"></v-divider>
                        <v-list-tile
                                :key="index"
                                avatar
                                :to="'/' + compare"
                        >
                            <v-list-tile-avatar class="icon">
                                <list-avatar :hasPhoto="compareById(compare).hasPhoto"
                                             :image="compareById(compare).photo50"></list-avatar>
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-if="typeContent === 1"
                                                   v-text="compareById(compare).name"></v-list-tile-title>
                                <v-list-tile-title v-else-if="typeContent === 0"
                                                   v-text="compareById(compare).firstName + ' ' + compareById(compare).lastName"></v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </template>
            <div v-else>
                <h1 class="font-weight-thin">отсутствуют</h1>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "ComparisonContent",
        props: {
            comparison: {
                type: Array,
                required: true
            },
            typeContent: {
                type: Number,
                required: true
            }
        },
        data() {
            return {}
        },
        methods: {
            compareById(compare) {
                if (this.typeContent === 1) {
                    return this.$store.getters.communityById(compare)
                } else if (this.typeContent === 0) {
                    return this.$store.getters.friendById(compare)
                }
            },
            goPage(compare) {
                if (this.typeContent === 0) {
                    this.$router.push('/' + compare)
                }
                console.log(compare)
            }
        },


    }
</script>

<style scoped>

</style>
