<template>
    <v-container>
        <!-- Desktop -->
        <v-layout row wrap class="hidden-sm-and-down">
            <v-flex xs12 md8 offset-md2>
                <v-card color="indigo lighten-4" flat max-heigh class="pa-5" t>
                    <v-card-text class="py-0">
                        <div class="display-1 font-weight-thin text-xs-center">
                            Сравнение аккаунтов
                        </div>
                        <v-divider></v-divider>
                    </v-card-text>
                    <v-layout row>
                        <v-flex md10 offset-md1>
                            <v-layout row>
                                <v-flex md4 offset-md1>
                                    <v-layout column>
                                        <v-text-field mask="##########" class="mt-3" label="ID 1"
                                                      v-model="firstId"></v-text-field>
                                    </v-layout>
                                </v-flex>
                                <v-flex md4 offset-md1>
                                    <v-layout column>
                                        <v-text-field mask="##########" class="mt-3" label="ID 2"
                                                      v-model="secondId"></v-text-field>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                            <div class="text-md-center">
                                <v-btn color="blue-grey"
                                       class="white--text"
                                       @click="compare"
                                       depressed
                                >
                                    Сравнить
                                </v-btn>
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-layout row v-if="!loading">
                        <v-flex md6>
                            <div class="text-md-center">
                                <span>Общие друзья</span>
                                <v-divider></v-divider>
                                <comparison-content v-if="comparisonFriends" :comparison="comparisonFriends" :typeContent="0"
                                            class="mt-3"></comparison-content>
                            </div>
                        </v-flex>
                        <v-divider vertical></v-divider>
                        <v-flex md6>
                            <div class="text-md-center">
                                <span>Общие группы</span>
                                <v-divider></v-divider>
                                <comparison-content v-if="comparisonCommunities" :comparison="comparisonCommunities" :typeContent="1"
                                            class="mt-3"></comparison-content>
                            </div>
                        </v-flex>
                    </v-layout>
                    <loader v-else></loader>
                </v-card>
            </v-flex>
        </v-layout>

        <!-- Mobile -->
        <v-layout row wrap class="hidden-md-and-up">
            <v-flex xs12 md8 offset-md2>
                <v-card color="indigo lighten-4" flat max-height class="pt-3">
                    <v-card-text class="py-0">
                        <div class="display-1 font-weight-thin text-xs-center">
                            Сравнение аккаунтов
                        </div>
                        <v-divider></v-divider>
                    </v-card-text>
                    <v-flex md10 offset-md1>
                        <v-layout column>
                            <v-flex>
                                <v-text-field label="ID 1" mask="##########" class="ml-3 mr-3"></v-text-field>
                            </v-flex>
                            <v-flex>
                                <v-text-field label="ID 2" mask="##########" class="ml-3 mr-3"></v-text-field>
                            </v-flex>
                            <v-flex class="ml-3 mr-3">
                                <v-btn block
                                       color="blue-grey"
                                       class="white--text"
                                       depressed
                                       @click="compare"
                                >Сравнить
                                </v-btn>
                            </v-flex>
                            <v-flex class="ml-3 mr-3 mt-3">
                                <span>Общие друзья</span>
                                <v-divider></v-divider>
                                <comparison-content v-if="comparisonFriends" :comparison="comparisonFriends" :typeContent="0"
                                            class="mt-3"></comparison-content>
                            </v-flex>
                            <v-flex class="ml-3 mr-3 mt-3">
                                <span>Общие группы</span>
                                <v-divider></v-divider>
                                <comparison-content v-if="comparisonCommunities" :comparison="comparisonCommunities" :typeContent="1"
                                            class="mt-3"></comparison-content>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import ComparisonContent from './ComparisonContent'

    export default {
        name: "ComparisonTile",
        components: {
            comparisonContent:  ComparisonContent
        },
        data() {
            return {
                firstId: 45938510,
                secondId: 135254572
            }
        },
        methods: {
            compare() {
                if (this.firstId || this.secondId) {
                    this.$store.dispatch('common', [this.firstId, this.secondId])
                }
            },

        },
        computed: {
            comparisonCommunities() {
                return this.$store.getters.comparisonCommunities
            },
            comparisonFriends() {
                return this.$store.getters.comparisonFriends
            },
            loading() {
                return this.$store.getters.loading
            }
        },
        destroyed: function(){
            this.$store.commit('setComparisonCommunities', null)
            this.$store.commit('setComparisonFriends', null)
        }
    }
</script>

<style scoped>
</style>
