<template>
    <v-container>
        <v-layout row>
            <v-flex xs12 sm6 md10 offset-sm3 offset-md1>
                <v-list>
                    <template v-for="friend in friends">
                        <v-list-tile
                                :key="friend.id"
                                avatar
                                :to="'/' + friend.id"
                        >
                            <v-list-tile-avatar class="icon">
                                <img :src="friend.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-text="friend.title"></v-list-tile-title>
                            </v-list-tile-content>

                        </v-list-tile>
                        <v-divider></v-divider>
                    </template>

                </v-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        computed:{
            friends (){
                return this.$store.getters.friends
            }

        }
    }
</script>

<style scoped>
   img{

    }
</style>