<template>
    <v-container>
        <v-layout>
            <v-flex xs12 class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="purple"
                        indeterminate
                ></v-progress-circular>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style scoped>

</style>