<template>
    <v-container>
        <!-- Both Desktop & Mobile-->
        <v-layout row wrap>
            <v-flex xs12 md8 offset-md2>
                <v-card color="indigo lighten-4" flat max-heigh
                        :class="{'pa-5' : $vuetify.breakpoint.mdAndUp, 'pa-2' : $vuetify.breakpoint.smAndDown}">
                    <v-card-text class="py-0">
                        <div class="display-1 font-weight-thin text-xs-center">
                            Параметры пользователя
                        </div>
                        <v-divider></v-divider>
                        <column class="mt-3" name="ID Вконтакте" :info="vkId"></column>
                        <column name="ID VkSpy" :info="token"></column>
                    </v-card-text>

                </v-card>

            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Column from "./user/Column";

    export default {
        name: "Settings",
        components: {
            column: Column
        },
        data() {
            return {
                vkId: this.$cookie.get('UserVkId'),
                token: this.$cookie.get('Authorization')
            }
        }
    }
</script>

<style scoped>

</style>