<template xmlns:v-scroll="http://www.w3.org/1999/xhtml">
    <v-list dense subheader :key="onlineStates.length" v-if="onlineStates.length !== 0">
        <div v-for="(state, index) of onlineStates" :key="index">
            <v-divider v-if="index"></v-divider>
            <!--<v-subheader v-if="isSubheaderNeeded(new Date(state.lastSeen * 1000))">
                {{lastDate.getDate() + '.' + (lastDate.getMonth() + 1) + '.' + lastDate.getFullYear()}}
            </v-subheader>-->
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {{new Date(state.lastSeen * 1000) | formatDate}}
                    </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <font-awesome-icon icon="mobile-alt"
                                       :style="{ color: '#607D8B'}"
                                       v-if="state.platform === 'MOBILE'"
                                       size="lg"/>
                    <font-awesome-icon :icon="['fab', 'apple']"
                                       :style="{ color: '#607D8B'}"
                                       v-if="state.platform === 'IPAD' || state.platform === 'IPHONE'"
                                       size="lg"/>
                    <font-awesome-icon :icon="['fab', 'android']"
                                       :style="{ color: '#607D8B'}"
                                       v-if="state.platform === 'ANDROID'"
                                       size="lg"/>
                    <font-awesome-icon :icon="['fab', 'windows']"
                                       :style="{ color: '#607D8B'}"
                                       v-if="state.platform === 'WINDOWS_PHONE' || state.platform === 'WINDOWS_10'"
                                       size="lg"/>
                    <font-awesome-icon icon="desktop"
                                       :style="{ color: '#607D8B'}"
                                       v-if="state.platform === 'DESKTOP'"
                                       size="lg"/>
                </v-list-tile-action>
            </v-list-tile>
        </div>
    </v-list>
</template>

<script>

    export default {
        name: "OnlineStateList",
        props: {
            id: {
                type: [Number, String],
                required: true
            }
        },
        filters: {
            formatDate(date) {
                let formattedDate = ""
                if ((date.getHours() + "").length < 2) formattedDate += "0" + date.getHours()
                else formattedDate += date.getHours()
                formattedDate += ':'
                if ((date.getMinutes() + "").length < 2) formattedDate += "0" + date.getMinutes()
                else formattedDate += date.getMinutes()
                formattedDate += " - "
                if ((date.getDate() + "").length < 2) formattedDate += "0" + date.getDate()
                else formattedDate += date.getDate()
                formattedDate += '.'
                if (((date.getMonth() + 1) + "").length < 2) formattedDate += "0" + (date.getMonth() + 1)
                else formattedDate += (date.getMonth() + 1)
                formattedDate += '.'
                formattedDate += date.getFullYear()
                return formattedDate
            }
        },
        created() {/*
            let bottomOfWindow =
                Math.abs(document.documentElement.scrollTop + window.innerHeight - document.documentElement.offsetHeight) <= 1
            console.log(document.documentElement.scrollTop + window.innerHeight - document.documentElement.offsetHeight)
            if (bottomOfWindow) {
                this.$store.dispatch('loadEvents', this.id)
            }*/
        },
        computed: {
            onlineStates() {
                //return this.$store.getters.onlineStates
                let states = this.$store.getters.onlineStates
                states.map(f => f).reverse()
                var i
                for (i = 1; i < states.length; i++) {
                    if (states[i].platform != states[i-1].platform) continue
                    if (Math.abs(states[i].lastSeen - states[i-1].lastSeen) < 300) {
                        states.splice(i, 1)
                    }
                }
                return states
            },
        },
        destroyed: function () {

        }

    }
</script>

<style scoped>
</style>