<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-app>
        <v-navigation-drawer v-model="drawer" app disable-resize-watcher>
            <v-list dense class="pt-0">
                <v-list-tile
                        v-for="link in links"
                        :key="link.title"
                        :to="link.url"
                >
                    <v-list-tile-action>
                        <v-icon>{{ link.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ link.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-btn
                    @click="unAuthorization()"
                    flat>
                <v-icon left>exit_to_app</v-icon>
                Exit
            </v-btn>
            <v-select class="mt-2"
                      multiple
                      hide-details
                      :items="filter"
                      v-model="filterItems"
                      label="Filters"
                      solo-inverted
            >
            </v-select>
        </v-navigation-drawer>
        <v-toolbar app color="blue-grey" class="hidden-sm-and-down">
            <v-icon>visibility</v-icon>
            <v-toolbar-title>ВкШпион</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items v-if="!authorized">
                <v-btn icon @click="authorization()">
                    <v-icon>lock</v-icon>
                </v-btn>
            </v-toolbar-items>
            <v-toolbar-items v-else>
                <v-text-field
                        flat
                        label="Искать по ID"
                        prepend-inner-icon="search"
                        solo-inverted
                        mask="##########"
                        @keyup.enter="searchUser()"
                        v-model="userId"
                        class="mt-2"
                        v-on:click:prepend="searchField = false"
                ></v-text-field>
                <v-btn icon @click="gotoMe" flat>
                    <v-icon>face</v-icon>
                </v-btn>
                <v-btn icon :to="'/compare'" flat>
                    <v-icon>compare</v-icon>
                </v-btn>
                <v-btn icon :to="'/tracked'" flat>
                    <v-icon>supervised_user_circle</v-icon>
                </v-btn>
                <v-btn icon :to="'/settings'" flat>
                    <v-icon>settings</v-icon>
                </v-btn>
                <v-container ma-0 pa-0 fill-height class="filt">
                    <v-select
                            multiple
                            hide-details
                            :items="filter"
                            v-model="filterItems"
                            label="Filters"
                            dense
                            flat
                            solo-inverted
                    >
                    </v-select>
                </v-container>
                <v-btn icon
                       @click="unAuthorization()"
                       flat>
                    <v-icon>exit_to_app</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>


        <v-toolbar app color="blue-grey" class="hidden-md-and-up">
            <v-toolbar-side-icon
                    @click="drawer = !drawer"
                    class="hidden-md-and-up"
                    v-if="authorized"
            ></v-toolbar-side-icon>
            <v-toolbar-title>ВкШпион</v-toolbar-title>
            <v-spacer v-if="!searchField"></v-spacer>
            <v-text-field v-show="searchField"
                          flat
                          label="Искать по ID"
                          prepend-inner-icon="search"
                          solo-inverted
                          mask="##########"
                          class="mt-2 mr-2 hidden-md-and-up"
                          @keyup.enter="searchUser()"
                          v-model="userId"
                          box
            ></v-text-field>
            <v-btn icon class="hidden-md-and-up" @click="searchField = !searchField" v-if="authorized & !searchField">
                <v-icon>search</v-icon>
            </v-btn>
            <v-btn append icon class="hidden-md-and-up" @click="authorization()" v-if="!authorized">
                <v-icon>lock</v-icon>
            </v-btn>
        </v-toolbar>


        <v-content>
            <router-view></router-view>
        </v-content>
        <template v-if="error">
            <v-snackbar
                    :multi-line="true"
                    color="error"
                    :timeout="10000"
                    @input="closeError"
                    value="true"
            >
                {{ error }}
                <v-btn
                        dark
                        flat
                        @click.native="closeError"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </template>
    </v-app>
</template>

<script>
    import {HTTP} from './store/index'
    import axios from 'axios'

    export default {
        data() {
            return {
                userId: '',
                id: '/',
                drawer: false,
                searchField: false,
                links: [
                    {title: 'Me', icon: 'face', url: '/' + this.$cookie.get('UserVkId')},
                    {title: 'Compare', icon: 'compare', url: '/compare'},
                    {title: 'Tracked', icon: 'supervised_user_circle', url: '/tracked'}
                ],
                filter: [
                    'SOCIALS', 'GROUPS'
                ],
                filterItems: ''
            }
        },
        computed: {
            error() {
                return this.$store.getters.error
            },
            authorized() {
                return this.$store.getters.isAuthenticated
            }
        },
        watch: {
            filterItems() {
                this.$store.dispatch('changeFilters', this.filterItems).then(() => {
                    this.filterItems = this.$store.getters.filters
                }).catch(() => {
                })
            }
        },
        methods: {
            closeError() {
                this.$store.dispatch('clearError')
            },
            authorization() {
                window.location.href = "https://oauth.vk.com/authorize?client_id=6029893%20&display=page&response_type=code&scope=groups+friends+wall+offline&redirect_uri=http://pihanya.ru/v1/api/auth"
               //  this.$cookie.set('Authorization', '7ea6b6b6-599f-4808-8c65-5aca1a009b6b');
               //  let token = this.$cookie.get('Authorization')
               //  this.$store.commit('authSuccess', token);
               //  HTTP.defaults.headers.common['Authorization'] = 'Bearer ' + token
            },
            searchUser() {
                this.$router.push('/' + this.userId)
                if (/^\/\d+$/.test(location.pathname)) location.reload()
            },
            unAuthorization() {
                this.$store.dispatch('authLogout').then(() => {
                    this.$router.push('/')
                }).catch(() => {
                })
            },
            gotoMe() {
                this.$router.push('/' + this.$cookie.get('UserVkId'))
                if (/^\/\d+$/.test(location.pathname)) location.reload()
            }
        },
        created() {
            this.$store.dispatch('loadFilters').then(() => {
                this.filterItems = this.$store.getters.filters
            }).catch(() => {
            })
            let cook = this.$cookie.get('Authorization')
            if (cook) {
                this.$store.commit('authSuccess', cook);
                HTTP.defaults.headers.common['Authorization'] = 'Bearer ' + cook
            }
            axios.interceptors.response.use(undefined, function (err) {
                return new Promise(function () {
                    if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
                        this.$store.dispatch('authLogout').then(() => {
                            this.$router.push('/')
                        }).catch(() => {
                        })
                    }
                    throw err;
                });
            });

        },

    }
</script>

<style scoped>
    .filt {
        max-width: 190px;
    }
</style>
